.about-container
  .clearfix
    .box
      .content{:class => 'about-title'} account.ability is a free tool to remotely update an acount spreadsheet via SMS.

    .left-column{:class => 'box clearfix'}
      %h2 How
      .content
        = image_tag "phone.png", {:class => 'phone-image'}

        %p 1. Fill out the required information for a new ledger. The phone number should start with + and follow international conventions (e.g. +34 678 12 34 56). Groupings and spaces do not matter.

        %p 2. Once you click the "CREATE LEDGER" button, you will be given a link to a Google spreadsheet. The person with the email address you entered is now the owner of the spreadsheet.

        %p 3. You can now add a ledger item by sending an SMS to the organization phone number with “item, price, amount, description”. Each value should be seperated by commas.

        - if not ENV['help_email'].blank?
          %p!= "If you do not know what the organization phone number is, you can contact <a href='mailto:#{ENV['help_email']}'>#{ENV['help_email']}</a>."

    .right-column{:class => 'box clearfix'}
      %h2 About
      .content
        %p account.ability was created during <a href="http://www.rhok.org">Random Hack of Kindness</a>, Berlin 2012.

        %p Inspired by a wish from Peace Corps member Patrick Choquette to ease the pain of sharing budgets from remote locations.

        = image_tag "logos.png", {:class => 'logos-image'}

        %br
        %br

        = link_to "See Github repository", "https://github.com/matstc/rhok-accountability", {:class => 'big-button'}

