.about-container
  .clearfix
    .box
      .content{:class => 'about-title'} account.ability is a free tool to remotely update an acount spreadsheet via SMS.

    .left-column{:class => 'box clearfix'}
      %h2 How It Works
      .content
        = image_tag "phone.png", {:class => 'phone-image'}

        %p <b>1—</b> Fill out the required information for a new ledger. The phone number should start with <i>+</i> and follow international conventions (e.g. <i>+34 678 12 34 56</i>). Groupings and spaces do not matter. Do not prefix the phone number with <i>011</i>, that is what the <i>+ </i>stands for.

        %p <b>2—</b> Click the <i>CREATE LEDGER</i> button and you will be given a link to a Google spreadsheet. The person with the email address you entered is now the owner of the spreadsheet. As the owner, you can add or remove columns to this spreadsheet as you like. Each SMS will be a new row in that spreadsheet.

        %p <b>3—</b> Add a ledger item by sending an SMS to the organization phone number with <i>item, price, amount, description</i>. Each value should be seperated by commas. These columns are used as the default template but you can add or remove columns as you like. The system will fill out the first optional column in the spreadsheet with the value before the first comma in the SMS. Then it will fill the second column with the second value before the second comma in the SMS, an so on.

        - if not ENV['help_email'].blank?
          %p!= "If you do not know what the organization phone number is, you can contact <a href='mailto:#{ENV['help_email']}'>#{ENV['help_email']}</a>."

    .right-column{:class => 'box clearfix'}
      %h2 About
      .content
        %p account.ability was created during <a href="http://www.rhok.org">Random Hack of Kindness</a>, Berlin 2012.

        %p Inspired by a wish from Peace Corps member Patrick Choquette to ease the pain of sharing budgets from remote locations.

        = image_tag "logos.png", {:class => 'logos-image'}

        %br
        %br

        = link_to "See Github repository", "https://github.com/matstc/rhok-accountability", {:class => 'big-button'}

