!!!
%html
  %head
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'clearfix'
  %title ACCOUNT.ability
  %body
    - if not flash[:warning].blank?
      .warning
        != flash[:warning]

    = yield
    .footer
      %p{:class => 'site-name'} account.ability
      = link_to "new ledger", root_path
      %br
      = link_to "about", about_path
