!!!
%html
  %head
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'clearfix'
    = favicon_link_tag
  %title account.ability
  %body
    - if not flash[:warning].blank?
      .warning
        != flash[:warning]

    = yield
    .footer
      %p{:class => 'site-name'} account.ability
      = link_to "new ledger", ledger_path
      = link_to "about", about_path
